@import "geral";
@import "index";
@import "pesquisa";
@import "pagamentos";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/* RESET */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body, html {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;

}

body{
  background-color: #0d0d0d;
  margin: 0 0 55px 0;
}


img{
  width: 100%;
}


a{
  color: black;
}



/* CONTAINER */
.container{
  background-color: #0d0d0d;


  display: flex;
  flex-direction: column;
  align-items: center;



}




